*{
    /* background-color: #F2F2F2; */
    font-family: 'Montserrat', sans-serif;
    
}
.navbar{
    
}

body{
    background-image: url('/images/admin.jpg');
}
.navItem{
    color: black;
    font-size: 1rem;
}
.navItem:hover{
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.navButton{
    border-radius: 50rem !important;
    color: #1A1300 !important;
    border: 1px solid #1A1300 !important;
    background-color: #FFDA57 !important;
}
.adminDiv {
    background-color: white !important;
    padding: 7rem 1.5rem;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}
.adminDiv h1, .adminDiv form, .adminDiv label, .adminDiv input{
    background-color: white;
}
.form-group{
    text-align: left;
}